<div class="checkoutarea">
    <div class="product" *ngFor="let product of productsArray">
        <div class="productId">{{product.product_id}}</div>
        <div class="productName">{{product.name}}</div>
        <div class="productPrice">€{{product.price}}</div>
        <img class="removeProduct" src="../../../assets/remove.png"
            (click)="removeFromCart(product.product_id)">
    </div>
</div>

<img class="movedown" src="../../../assets/focusupdown.png"
    (click)="changeFocus(infoTarget)">

<div class="priceTotal">Total: €{{priceTotal}}</div>

<div class="info" #infoTarget>
    <p>First name:</p>
    <input type="text" [(ngModel)]="order.firstname">

    <p>Last name:</p>
    <input type="text" [(ngModel)]="order.lastname">

    <p>Phone:</p>
    <input type="text" [(ngModel)]="order.contact1">

    <p>E-mail:</p>
    <input type="text" [(ngModel)]="order.contact2">

    <p>Address 1:</p>
    <input type="text" [(ngModel)]="order.address1">

    <p>Address 2:</p>
    <input type="text" [(ngModel)]="order.address2">

    <p>Payment method:</p>

    <input type="Radio" name="paymentMethod" value="CASH" [(ngModel)]="order.paymentMethod">Cash
    <input type="Radio" name="paymentMethod" value="PAYPAL" [(ngModel)]="order.paymentMethod">Paypal
</div>

<button class="confirmButton" (click)="confirmInvoice()">CONFIRM</button>