.checkoutarea {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 80%;
    width: 90%;
    border: black;
    border-width: 2px;
    border-style: solid;
    overflow-x: hidden;
}

.product {
    height: 100px;
    width: 100%;
    font-size: 25px;
}

.product:hover {
    background-color: lightgray;
}

.productId {
    position: relative;
    top: 8px;
    left: 2%;
    width: 15px;
}

.productName {
    position: relative;
    top: -20px;
    left: 10%;
    width: 700px;
}

.productPrice {
    position: relative;
    top: -48px;
    left: 80%;
    width: 140px;
}

.removeProduct {
    height: 40px;
    width: 40px;
    position: relative;
    top: -80px;
    left: 95%;
}

.priceTotal {
    position: absolute;
    top: calc(100% + 150px);
    left: 80%;
    font-size: 30px;
    width: 250px;
}

.info {
    position: absolute;
    top: calc(100% + 50px);
    left: 5%;
    height: 600px;
    width: 1200px;
    border: black;
    border-width: 2px;
    border-style: solid;
    overflow-x: hidden;
}

.confirmButton {
    position: absolute;
    top: calc(100% + 200px);
    left: 80%;
    height: 100px;
    width: 200px;
}

.movedown {
    position: absolute;
    top: 300px;
    left: 95%;
    height: 100px;
    width: 100px;
    animation: MoveUpDown 2s linear infinite;
}

.movedown:hover {
    height: 105px;
    width: 105px;
}

.paypalButtons, .confirmButton {
    position: absolute;
    top: 5%;
    left: 70%;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(+50px);
    }
  }