<img class="productMainImg" [src]="currentImg">
<img class="productImg1" [src]="product.imagepath1"
    (click)="setMainImage(1)">
<img class="productImg2" [src]="product.imagepath2"
    (click)="setMainImage(2)">
<img class="productImg3" [src]="product.imagepath3"
    (click)="setMainImage(3)">



<div class="productNameBg">
    <p class="productName">{{product.name}}</p>
</div>

<div class="descWallBg">
    <div class="descWall"></div>
    <p class="productManufacturer">Brand: {{product.manufacturer}}</p>
    <p class="productStock">Stock: {{product.stock}}</p>
    <p class="productPrice">€{{product.price}}</p>
</div>

<img *ngIf="isProductAddedToCart" class="cartProduct" [src]="product.imagepath1">

<p class="message">{{message}}</p>

<button class="addButton" type="button" (click)="addToCart()">Add to cart</button>
<button class="descButton" type="button" (click)="changeFocus(target)">Description</button>

<div class="description" #target>
    <img class="descImg1" [src]="product.imagepath4">
    <p class="descText1">{{product.description1}}</p>
    <img class="descImg2" [src]="product.imagepath5">
    <p class="descText2">{{product.description2}}</p>
</div>